.tr-setting-auto .item-check-type .txt {
    flex: 1;
}
.block-info-dt-popup .icon-close-small {
    background: transparent;
}
.box-choose-info-ns .item-check-type.box-check-radio-16 label .check {
    width: 16px;
    height: 16px;
    border: 1px solid var(--border-color);
    top: 4px;
    display: flex;
    align-items: center;
    background: rgba(217, 217, 217, 0.2);
    justify-content: center;
}
.box-choose-info-ns .item-check-type.box-check-radio-16 label .checked {
    width: 16px;
    height: 16px;
    top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tr-tab-info-hs .title-tab-hs {
    background: rgba(217, 217, 217, 0.4);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 6px 10px;
    cursor: pointer;
    transition: all .3s;
}

.tr-tab-info-hs .title-tab-hs .text-14-medium {
    flex: 1;
}

.tr-tab-info-hs .title-tab-hs .icon-select {
    transform: rotateX(180deg);
    transform-origin: center;
    transition: all .3s;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tr-tab-info-hs .main-tab-hs {
    display: none;
    padding-top: 16px;
}

.tr-tab-info-hs.active .main-tab-hs {
    display: block;
}

.main-tab-hs .ct-form-2025 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0 40px;
}

.main-tab-hs .ct-form-2025 .ct-input.w-100 {
    grid-column: 1/3;
}

.tr-tab-info-hs .title-tab-hs:hover {
    background: rgba(217, 217, 217, 0.8);
}

.imt-choose .item-check-type.box-check-radio-16 .text {
    flex: 1;
    margin-left: 11px;
    color: rgba(18, 18, 18, 1);
    font-size: 14px;
    font-weight: 300;
    transition: all .3s;
}

.imt-choose .item-check-type.box-check-radio-16 input:checked~label .text {
    font-weight: 400;
}
.btn-lc .btn-bg-gray {
    padding: 5px 10px;
}
.flex-swicth.tr-child-setup .switch-btn .text {
    margin-right: 0;
    margin-left: 8px;
}

.item-add-user {
    display: flex;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 10px;
}

.item-add-user .icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
}

.item-add-user .number {width: 35px;height: 35px;display: flex;align-items: center;justify-content: center;background: rgba(217, 217, 217, 0.4);border-radius: 3px;}

.item-add-user .form-user {
    flex: 1;
    border: 1px solid rgba(217, 217, 217, 0.6);
    min-height: 35px;
    display: flex;
    align-items: center;
    padding: 4px 10px;
    border-radius: 5px;
}

.item-add-user .close-item {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.item-add-user .close-item svg {
    width: 12px;
    height: 12px;
}

.btn-user-add .add-user {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0 8px;
}

.btn-user-add .add-user .text {
    color: rgba(0, 108, 254, 1);
    font-size: 13px;
    font-weight: 300;
    line-height: 1.3;
    transition: all .3s;
}

.btn-user-add .add-user .icon {
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-user-add .add-user:hover .text {
    text-decoration: underline;
}

.btn-user-add {
    padding-top: 10px;
}
.btn-lc .btn-bg-gray .icon {
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -1px;
}
.box-info-tv {
    background: rgba(217, 217, 217, 0.2);
    border-radius: 5px;
    padding: 10px;
}

.text-size-13-light.opcity-6 {
    opacity: .6;
}
.tr-tab-info-hs.active  .title-tab-hs .icon-select {
    transform: rotate(0);
}
.box-info-hscv {
    border: 1px solid rgb(217 217 217 / 60%);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 12px;
}

.btn-copy-box {
    padding-top: 10px;
}
.main-layout-site .block-chart-manage {
    overflow: visible;
    height: auto;
    border-radius: 0;
}
.btn-copy-box a {
    display: inline-flex;
    align-items: center;
    gap: 0 6px;
}

.btn-copy-box a .icon {
    opacity: .6;
    transition: all .3s;
}

.btn-copy-box a .text {
    color: #121212;
    opacity: .6;
    position: relative;
    top: 2px;
}

.btn-copy-box a:hover .text {
    opacity: 1;
}

.btn-copy-box a:hover .icon {
    opacity: 1;
}
.title-mhtc {
    padding: 10px 20px;
    padding-bottom: 0;
}
.block-ns-page .block-brithday-ns {
    padding: 20px;
}
@media (max-width:575px){
    .main-tab-hs .ct-form-2025 {
        grid-template-columns: 1fr;
        gap: 0 12px;
    }
    
    .main-tab-hs .ct-form-2025 .ct-input.w-100 {
        grid-column: auto;
    }
}

